!!! 5
%html
  %head
    %title Glossary
    %link{:rel => :stylesheet, :type => :"text/css", :href => "assets/style.css"}

  %body
    %h1#top Glossary

    %p
      - letters.each do |letter|
        %a{ href: "#letter-#{letter.downcase}", title: "Go to letter #{letter}" }= letter

    %p
      %a{ href: "#acronyms" } List of acronyms

    - entries.group_by {|entry| entry[:name][0,1].upcase}.each do |letter, letter_entries|
      %hr
      %h2{id: "letter-#{letter.downcase}"}= "#{letter} is for..."
      - letter_entries.each do |entry|
        %h3{id: "entry-#{entry[:slug]}"}= entry[:name]
        - if entry[:see]
          %p
            See
            %a{ href: "#entry-#{entry[:see]}", title: "Back to top" }= entry[:see_name]
        - else
          - unless entry[:aka].empty?
            %p
              %i
                aka
                = entry[:aka].join(", ")
          - if entry[:description]
            %p= entry[:description]

      %p
        %small
          %a{ href: "#top", title: "Back to top" } ^ top

    %hr

    %h2#acronyms Acronyms

    - acronyms.each do |acronym|
      %h3
        #{acronym[:acronym]}:
        - if acronym[:has_description]
          %a{ href: "#entry-#{acronym[:entry_slug]}" }= acronym[:name]
        - else
          #{acronym[:name]}
